$header_footer: #525458;
$header_footer_border_color:#606366;
$header_nav_text_color:#fff;
$header_nav_hover_color:#606366;
$header_nav_submenu_color:#FBFBFB;
$header_nav_submenu_hover_color:#EAEAEA;
$product-hover-color:#FBFBFB;
$color-title-product:#525258;
$color-cont-product:#545454;
$color-preci-product:#0059B2;
$primary-font:'Roboto', sans-serif;
$second_font:'Open Sans', sans-serif;
$red:#E3240F;
$blue:#5A81DA; 
$green:#65AC46;
$yellow:#C4B131;
$gray:#666666;

